@page
@model HelloworldRazopage.Pages.IndexModel

    <html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h1>@Model.Heading.Message</h1><hr />
        <h2>@Model.SubHeading</h2>

        <form method="post">
            <label asp-for="Heading.Message">Enter me</label>

            <input type="text" asp-for="Heading.Message" />
            <button type="submit">Submit</button>
        </form>

    </body>
</html>


