@{
    ViewBag.Title = "Home Page";
}

<div class="navbar-fixed-top nav-tabs-justified bg-white">
    @{ 
        Html.RenderAction("messagepage", "Home");
    }
</div>

<h1>welcome to Learnig Institute!</h1>