@model user.Models.AppUser

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>@Model.User</h1>

    <form method="post" asp-controller="Home" asp-action="Index">
        <label asp-for="User">Enter User</label>
        <input type="text" asp-for="User" />
        <br />
        <label asp-for="Pass">Enter Pass</label>
        <input type="text" asp-for="Pass" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>